<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>

<body>
    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
    <h1 style="color: blue;"><%= kindOfDay %> List</h1>
    <% } else { %>
    <h1 style="color: green;"><%= kindOfDay %> List</h1>
    <% } %>
</body>

</html>